* {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  list-style: none;
}
body {
  background: rgb(36, 38, 39);
  height: 100vh;
}

/* START INTRO  */

.overlay {
  display: grid;
  place-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.823);
  color: white;
  z-index: 9999;
}
.overlay input {
  width: 80%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 30px;
  background-color: brown;
  color: white;
  direction: rtl;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.overlay button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  font-size: 35px;
  box-shadow: inset 1px 1px 9px black;
  font-weight: bold;
  color: rgb(35, 40, 158);
}

/* END INTRO =============  */
/* START HEADER  */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, black, rgb(28, 28, 28));
  box-shadow: 0px 0px 9px black;
  border-radius: 0 0 8px 8px;
}

.lives {
  height: 20px;
}
.score {
  background: #00ffe5;
  box-shadow: inset 1px 1px 15px #00ffe5;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
  padding: 8px 15px;
  font-weight: bold;
}
/* END HEADER  ======================== */

/* START PROGRESS   */

.progParent {
  margin: 30px auto;
  margin-bottom: 10px;
  width: 60%;
  height: 40px;
  border: 0.1px solid white;
  border-radius: 26px;
  overflow: hidden;
}
.progIn {
  width: 50%;
  height: 100%;
}

/* END PROGRESS   =====================*/

.colors {
  display: flex;
  justify-content: center;
}
.colors .btn {
  border-radius: 12% 88% 88% 12% / 50% 50% 50% 50%;
  height: 165px;
  width: 165px;
  cursor: grabbing;
}
/* .colors .btn:hover {
  box-shadow: inset 0px 0px 10px rgb(138, 67, 67), 3px 3px 15px #e83845;
} */
.colors .btn0 {
  transform: rotate(180deg);
  margin: 40px 20px;
}
.colors .btn1 {
  transform: rotate(-90deg);
}
.colors .btn2 {
  transform: rotate(0);
  margin: 40px 20px;
}

@media (max-width: 660px) {
  .colors .btn {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 400px) {
  .colors .btn {
    height: 80px;
    width: 80px;
  }
}
/* END COLORS  ===================== */
div.playBtn {
  position: relative;
  padding: 6px;
  width: fit-content;
  direction: rtl;
  margin: auto;
  transform: translateY(-50px);
  border-radius: 3px;
  cursor: pointer;
  color: #ffce30;
  animation: moveColorText 3s alternate infinite;
}
@keyframes moveColorText {
  0% {
    color: #ffce30;
  }
  50% {
    color: #370a0d;
  }
  100% {
    color: #f0f0f0;
  }
}
.playBtn::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(9, 8, 36);
  border-radius: 3px;
  z-index: -1;
}
.playBtn::after{
  /* opacity: .2; */
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 5px;
  animation: moveGradient 4s alternate infinite;
  z-index: -2;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* START PHOTOS */
.photos {
  display: flex;
  justify-content: center;
  margin: auto;
  transform: translateY(-30px);

}
.photos img {
  width: 50%;
}
@media (max-width: 600px) {
  .photos img {
    height: 400px;
    width: 100%;
  }
}
